# permissions for end users to edit chainnodes.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: chainnode-editor-role
rules:
- apiGroups:
  - citacloud.buaa.edu.cn
  resources:
  - chainnodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - citacloud.buaa.edu.cn
  resources:
  - chainnodes/status
  verbs:
  - get
